@import '../_sass/highlight-syntax';

:root {
  --progress-color: gray;
  --blockquote-color: #6a737d;
  --blockquote-boarder-color: #959da5;
  --code-background-color: rgba(0, 0, 0, 0.05);

  --body-font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,"Noto Color Emoji",serif;
  --heading-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Noto Color Emoji";
}

.article {
  font-family: var(--body-font-family);

  .highlight {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .caption {
    font-size: 16px;
    margin: -1.5em 0 0;

    code { font-size: 12px }
  }
  .gist-caption {
    font-size: 16px;
    margin: -0.5em 0 0;

    code { font-size: 12px }
  }
  .slim-title {
    h1, h2, h3, h4 {
      font-family: var(--heading-font-family);
      margin: 0;
    }
  }

  h1, h2, h3, h4 {
    font-family: var(--heading-font-family);
    margin: 1.5em 0 -0.5em;
  }

  th {
    font-family: var(--heading-font-family);
  }

  h1 { code { font-size: 28px } }
  h2 { code { font-size: 20px } }
  h3 { code { font-size: 16px } }
  h4 { code { font-size: 14px } }
  h5 { code { font-size: 12px } }
  h6 { code { font-size: 10px } }

  p {
    font-size: 21px;
    margin: 0.95em 0 1.2em;
  }

  p.caption {
    text-align: center
  }

  img.article-image {
    width: 100%;
    height: auto;
  }

  code {
    font-family: "Fira Code", monospace;
    font-size: 14px;
    background-color: var(--code-background-color);
    padding: 2px 4px;
  }

  blockquote {
    border-left: 2px solid var(--blockquote-boarder-color);
    padding-left: 16px;
    margin-bottom: 16px;

    *:not(a) {
      color: var(--blockquote-color);
    }
  }

  div {
    pre {
      padding: 20px;

      code {
        background-color: transparent;
        padding: 0px;
      }
    }
  }

  ul, ol {
    font-size: 21px;
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    font-size: 21px;
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

#progress-bar {
  background: linear-gradient(to right, var(--progress-color) var(--progress), transparent 0);
  top: 0;
  border-radius: 1.5px;
  position: sticky;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --progress-color: whitesmoke;
    --blockquote-color: #dadada;
    --blockquote-boarder-color: #dadada;
    --code-background-color: rgba(255,255,255,0.15);
  }

  .article {
    .caption, .gist-caption {
      color: #dadada;
    }

    p {
      color: #ededed;
    }

    img:not([src*=".svg"]) {
      filter: grayscale(25%) brightness(0.9);
    }
  }
}
