@import '../_sass/highlight-syntax';

:root {
  --progress-color: gray;
  --blockquote-color: #6a737d;
  --blockquote-boarder-color: #959da5;
  --code-background-color: rgba(0, 0, 0, 0.05);

  --heading-font-family: system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Noto Color Emoji";
  --body-font-family: Georgia,Cambria,"Times New Roman",Times,"Noto Color Emoji",serif;
}

.article {
  font-family: var(--body-font-family);
  overflow-wrap: break-word;

  .highlight {
    background-color: rgba(0, 0, 0, 0.04);
  }

  .caption {
    font-size: 16px;
    margin: -1.5em 0 0;

    code { font-size: 14px; }
  }

  .gist-caption {
    font-size: 16px;
    margin: -0.5em 0 0;

    code { font-size: 14px; }
  }

  .slim-title {
    h2, h3, h4, h5, h6 {
      font-family: var(--heading-font-family);
      margin: 0;
    }
  }

  h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    margin: 1.5em 0 -0.5em;
  }

  th {
    font-family: var(--heading-font-family);
  }

  h2 {
    font-size: 30px;

    code { font-size: 26px; }
  }

  h3 {
    font-size: 24px;

    code { font-size: 20px; }
  }

  h4 {
    font-size: 20px;

    code { font-size: 18px; }
  }

  h5 {
    font-size: 18px;

    code { font-size: 16px; }
  }

  h6 {
    font-size: 16px;

    code { font-size: 14px; }
  }

  p {
    font-size: 21px;
    margin: 0.95em 0 1.2em;
  }

  p.caption {
    text-align: center;
  }

  img.article-image {
    width: 100%;
    height: auto;
  }

  strong {
    font-size: 20px;
  }

  code {
    font-family: "Fira Code", monospace;
    font-size: 16px;
    background-color: var(--code-background-color);
    padding: 2px 4px;
  }

  blockquote {
    border-left: 4px solid var(--blockquote-boarder-color);
    padding-left: 16px;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;

    *:not(a) {
      color: var(--blockquote-color);
    }
  }

  div {
    pre {
      padding: 20px;

      code {
        background-color: transparent;
        padding: 0px;
      }
    }
  }

  ul, ol {
    font-size: 21px;
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    font-size: 21px;
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

#progress-bar {
  background: linear-gradient(to right, var(--progress-color) var(--progress), transparent 0);
  top: 0;
  border-radius: 4px;
  position: sticky;
  overflow: hidden;
  width: 100%;
  height: 4px;
  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --progress-color: whitesmoke;
    --blockquote-color: #dadada;
    --blockquote-boarder-color: #dadada;
    --code-background-color: rgba(255,255,255,0.15);
  }

  .article {
    .caption, .gist-caption {
      color: #dadada;
    }

    p {
      color: #ededed;
    }

    img:not([src*=".svg"]) {
      filter: grayscale(25%) brightness(0.9);
    }
  }
}
