{% if include.caption %}
  <a href="{{ include.src | absolute_url }}">
    <img class="article-image" src="{{ include.src | absolute_url }}"
         width="{% imagesize include.src:width %}"
         height="{% imagesize include.src:height %}"
         alt="{{ include.alt }}" loading="lazy" />
  </a>
  <div class="text-gray"><p class="caption">{{ include.caption }}</p></div>
{% else %}
  <a href="{{ include.src | absolute_url }}">
    <img class="article-image" src="{{ include.src | absolute_url }}"
         width="{% imagesize include.src:width %}"
         height="{% imagesize include.src:height %}"
         alt="{{ include.alt }}" loading="lazy" />
  </a>
{% endif %}
