{% assign content = page.content %}

{% assign posts_total = site.posts | size %}

{% assign user = site.github.owner %}

<!doctype html>
<html class="min-height-full" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="color-scheme" content="light dark">
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
    <link href="https://fonts.gstatic.com/s/atkinsonhyperlegible/v10/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G04pIo.woff2" rel="preload" as="font" type="font/woff2" crossorigin>

    {% feed_meta %}

    {% capture seo_tags %}
      {% seo %}
    {% endcapture %}
    {{ seo_tags | replace: 'DESCRIPTION_MARKER', user.bio }}

    <script>
      window.addEventListener('DOMContentLoaded', () => {
        for (let e of document.querySelectorAll('.loads')) {
          const removeAnimation = () => {
            e.classList.remove('loads');
          };

          if (e.complete) {
            removeAnimation();
          } else {
            e.onload = removeAnimation;
            e.onerror = removeAnimation;
          }
        }
      });
    </script>
    <noscript>
      <style>
        .loads {
          animation: none !important;
          background-color: unset !important;
        }
      </style>
    </noscript>

    {{ include.inject }}
    <css-inline-location-marker></css-inline-location-marker>
  </head>

  <body class="min-height-full" id="top">
