{% assign content = page.content %}

{% assign posts_total = site.posts | size %}

{% assign user = site.github.owner %}

<!doctype html>
<html class="min-height-full" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">

    {% feed_meta %}

    {% capture seo_tags %}
      {% seo %}
    {% endcapture %}
    {{ seo_tags | replace: 'DESCRIPTION_MARKER', user.bio }}

    <style>
      {% capture styles %}
        {% include styles.scss %}
      {% endcapture %}
      {{ styles | scssify }}
    </style>
    {{ include.inject }}
  </head>

  <body class="min-height-full">
