{% capture image %}
  {% if include.src contains '.svg' %}
  <img class="{{ include.class }}" src="/assets/resized/{{ include.src | relative_url | remove_first: '/assets/' | replace: '.svg', '-min.svg' }}"
       width="{{ include.width }}"
       height="{{ include.height }}"
       alt="{{ include.alt }}" loading="lazy">
  {% else %}
  {% responsive_image_block %}
    path: "{{ include.src | relative_url | remove_first: '/' }}"
    class: "{{ include.class }} loads"
    width: "{{ include.width }}"
    height: "{{ include.height }}"
    sizes: "{{ include.sizes }}"
    alt: "{{ include.alt }}"
  {% endresponsive_image_block %}
  {% endif %}
{% endcapture %}

{% if include.src == include.href and include.src contains '.svg' %}
  {% capture link %}/assets/resized/{{ include.src | relative_url | remove_first: '/assets/' | replace: '.svg', '-min.svg' }}{% endcapture %}
{% else %}
  {% capture link %}{{ include.href | relative_url }}{% endcapture %}
{% endif %}

{% if include.href %}
  <a href="{{ link }}">{{ image | strip_newlines }}</a>
{% else %}
  {{ image | strip_newlines }}
{% endif %}
