<div class="github-component position-relative height-full no-underline d-flex flex-column text-left border border-gray-light rounded-1 bg-white p-3">
  <a href="{{ post.url | relative_url }}" class="text-defaults">
    <div class="d-flex flex-justify-between flex-items-start mb-1">
      <h1 class="f4 lh-condensed mb-1">{{ post.title }}</h1>
    </div>
  </a>
  <div class="text-defaults mb-2 ws-normal">{{ post.date | date: "%b %d, %Y" }}</div>
  <div class="text-gray">{{ post.excerpt }}</div>
</div>
