{% include header.html %}
{% include article-styling.html %}

{% capture post_body %}
  {% if page.title %}
    {% assign title = page.title %}
  {% else %}
    {% assign title = page.date | date: include.date_formatting %}
  {% endif %}
  <h1 class="f00-light lh-condensed mb-5 text-defaults" style="font-weight: 600 !important;">{{ title }}</h1>
  <ul style="list-style: none;">
    <style>
      @media (max-width: 1250px) {
        .date {
          display: block;
        }
      }

      .date {
        padding-right: 10px;
      }

      li {
        margin-bottom: 15px;
        font-family: 'Fira Code', monospace;
        font-size: 0.938rem
      }
    </style>

    {% if page.posts %}
      {% assign posts = page.posts %}
    {% else %}
      {% assign posts = site.posts %}
    {% endif %}
    {% for post in posts %}
    <li>
      <span class="date text-defaults">
        {{ post.date | date: "%b %d, %Y" }}
      </span>
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
{% endcapture %}
{% include article-container.html content=post_body parent_path=include.parent_path parent=include.parent %}

{% include footer.html %}
