<picture>
  {% if path contains '.png' or path contains '.jpg' or path contains '.jpeg' %}
    {% capture sources %}
      {% for i in resized %}
        /assets/{{ i.dirname }}/{{ i.filename }}.webp {{ i.width }}w,
      {% endfor %}
    {% endcapture %}

    {% assign file_name_parts = path | split: '.' %}
    {% assign file_name_without_extension = file_name_parts[0] %}

    <source srcset="{{ sources }} /{{ file_name_without_extension }}.webp {{ original.width }}w"
            sizes="{{ sizes }}"
            type="image/webp">
  {% endif %}

  {% capture sources %}
    {% for i in resized %}
      /{{ i.path }} {{ i.width }}w,
    {% endfor %}
  {% endcapture %}
  <source srcset="{{ sources }} /{{ path }} {{ original.width }}w" sizes="{{ sizes }}">

  <img class="{{ class }}" src="/{{ path }}"
       width="{{ width }}"
       height="{{ height }}"
       alt="{{ alt }}" loading="lazy">
</picture>
