<picture>
  <!-- Includes don't work in here for whatever reason, so we need to copy/paste everything. -->

  <!-- .avif images -->
  {% if path contains '.png' or path contains '.jpg' or path contains '.jpeg' %}
    {% capture sources %}
      {% for i in resized %}
        /assets/{{ i.dirname }}/{{ i.filename }}-min.avif {{ i.width }}w,
      {% endfor %}

      {{ original.dirname | prepend: '/assets/resized/' | append: '/' | append: original.filename | replace: '//', '/' }}-min.avif {{ original.width }}w
    {% endcapture %}

    <source srcset="{{ sources }}" sizes="{{ sizes }}" type="image/avif">
  {% endif %}

  <!-- .jpg images -->
  {% if path contains '.png' or path contains '.jpg' or path contains '.jpeg' %}
    {% capture sources %}
      {% for i in resized %}
        /assets/{{ i.dirname }}/{{ i.filename }}-min.jpg {{ i.width }}w,
      {% endfor %}

      {{ original.dirname | prepend: '/assets/resized/' | append: '/' | append: original.filename | replace: '//', '/' }}-min.jpg {{ original.width }}w
    {% endcapture %}

    <source srcset="{{ sources }}" sizes="{{ sizes }}" type="image/jpeg">
  {% endif %}

  <!-- Originals -->
  {% capture sources %}
    {% for i in resized %}
      /{{ i.path }} {{ i.width }}w,
    {% endfor %}
  {% endcapture %}
  <source srcset="{{ sources }} /{{ path }} {{ original.width }}w" sizes="{{ sizes }}">

  <!-- Default -->
  <img class="{{ class }}" src="/{{ resized[0].path }}"
       width="{{ width }}"
       height="{{ height }}"
       alt="{{ alt }}" loading="lazy">
</picture>
