:root {
  --progress-color: gray;
  --blockquote-color: #6a737d;
  --blockquote-boarder-color: #959da5;
  --code-background-color: rgba(0, 0, 0, 0.05);
}

// From https://fonts.googleapis.com/css2?family=Fira+Code:wght@475&display=swap
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 475;
  font-display: swap;
  // If you change the url, remember to also update _includes/article-styling.html
  src: url(https://fonts.gstatic.com/s/firacode/v17/uU9NCBsR6Z2vfE9aq3bh3dSD.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.article {
  overflow-wrap: break-word;

  .highlight {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
  }

  .caption {
    font-size: 1rem;
    margin: -1.5em 0 0;

    code { font-size: 0.875rem; }
  }

  .gist-caption {
    font-size: 1rem;
    margin: -0.5em 0 0;

    code { font-size: 0.875rem; }
  }

  .slim-title {
    h2, h3, h4, h5, h6 {
      margin: 0;
    }
  }

  h2, h3, h4, h5, h6 {
    margin: 1.5em 0 -0.5em;
  }

  h2 {
    font-size: 1.875rem;

    code { font-size: 1.625rem; }
  }

  h3 {
    font-size: 1.5rem;

    code { font-size: 1.25rem; }
  }

  h4 {
    font-size: 1.25rem;

    code { font-size: 1.125rem; }
  }

  h5 {
    font-size: 1.125rem;

    code { font-size: 1rem; }
  }

  h6 {
    font-size: 1rem;

    code { font-size: 0.875rem; }
  }

  p {
    font-size: 1.313rem;
    margin: 0.95em 0 1.2em;
  }

  p.caption {
    text-align: center;
  }

  img.article-image {
    width: 100%;
    height: auto;
  }

  strong {
    font-size: 1.25rem;
  }

  code {
    font-family: "Fira Code", monospace;
    font-size: 1rem;
    background-color: var(--code-background-color);
    border-radius: 3px;
    padding: 2px 4px;
  }

  blockquote {
    border-left: 4px solid var(--blockquote-boarder-color);
    padding-left: 16px;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;

    *:not(a) {
      color: var(--blockquote-color);
    }
  }

  div {
    pre {
      padding: 20px;

      code {
        background-color: transparent;
        padding: 0;
      }
    }
  }

  ul, ol {
    font-size: 1.313rem;
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    font-size: 1.313rem;
    padding-left: 16px;
    margin-bottom: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --progress-color: whitesmoke;
    --blockquote-color: #dadada;
    --blockquote-boarder-color: #dadada;
    --code-background-color: rgba(255,255,255,0.15);
  }

  .article {
    .caption, .gist-caption {
      color: #dadada;
    }

    p {
      color: #ededed;
    }

    img:not([src*=".svg"]) {
      filter: brightness(0.8) contrast(1.1);
    }
  }
}
