:root {
  --hr-color: gray;
  --footer-color: white;
  --image-placeholder-outer-gradient: #eaebec;
  --image-placeholder-inner-gradient: #dadbdc;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Noto Color Emoji;
}

hr {
  border: 1.5px solid var(--hr-color);
  border-radius: 1.5px;
  background-color: var(--hr-color);
}

footer {
  display: flex;
  padding: 5px;
  align-items: center;
  background-color: var(--footer-color);

  small {
    width: 100%;
  }

  small:last-child {
    text-align: end;
  }
}

// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Noto Color Emoji !important;
}

.selectively-underline:hover {
  text-decoration: none;

  span {
    text-decoration: underline;
  }
}

.repo-language-color {
  filter: brightness(125%) !important;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  position: relative;
  top: 2px;
  width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.min-height-full {
  min-height: 100vh;
}

.icon-color {
  fill: #24292e !important;
}

.loads {
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: image-placeholder;
  animation-timing-function: linear;
  background: linear-gradient(
                  to right,
                  var(--image-placeholder-outer-gradient) 8%,
                  var(--image-placeholder-inner-gradient) 18%,
                  var(--image-placeholder-outer-gradient) 33%
  );
  background-size: 1000px 100%;
  position: relative;
}

@keyframes image-placeholder {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}

@media (min-width: 768px) {
  #masthead {
    position: fixed;
    width: min-content;
  }

  .masthead-name-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .masthead-mini {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .masthead-mini-container {
    display: flex;
    align-items: center;
  }

  .masthead-profile {
    width: 80px;
    height: 80px;
    margin-bottom: 0 !important;
  }

  .masthead-intro {
    padding-left: 24px;
  }

  .masthead-name {
    display: none;
  }

  .masthead-bio {
    margin-bottom: 0 !important;
  }

  .masthead-metadata {
    display: none;
  }
}

@media (min-width: 1942px) {
  .masthead {
    max-width: 400px;
  }

  .content-container {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --hr-color: whitesmoke;
    --footer-color: black;
    --image-placeholder-outer-gradient: #5f666d;
    --image-placeholder-inner-gradient: #6f767d;
  }

  a {
    color: unset !important;
    text-decoration: underline;
  }

  .selectively-underline {
    text-decoration: none;

    span {
      text-decoration: underline;
    }
  }

  .bg-white {
    background-color: #4f565d !important;
  }

  .bg-gray-light {
    background-color: #2f363d !important;
  }

  .border-gray-light {
    border-color: transparent !important;
  }

  .text-gray, .link-gray, .link-gray:hover {
    color: #d0d8e1 !important;
  }

  .link-gray-dark {
    color: #fff !important;
  }

  .link-gray-dark:hover {
    color: #599eff !important;
  }

  .border, .border-md-bottom {
    border: none !important;
  }

  .masthead {
    background-color: #24292e !important;
  }

  .text-defaults {
    color: #fff !important;

    * {
      color: #fff !important;
    }
  }

  .scoped-text-defaults {
    color: #fff !important;
  }

  .icon-color {
    fill: #fff !important;
  }
}
