:root {
  --hr-color: gray;
  --footer-color: white;
  --loading-pulse-color: #b0b0b0;
}

// From https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400&display=swap
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  // If you change the url, remember to also update _includes/header.html
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v10/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G04pIo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: Atkinson Hyperlegible, sans-serif;
  font-size: 1em;
}

hr {
  border: 1.5px solid var(--hr-color);
  border-radius: 1.5px;
  background-color: var(--hr-color);
}

kbd {
  font-size: 0.525em;
  line-height: 0.9em;
}

footer {
  display: flex;
  padding: 5px;
  align-items: center;
  background-color: var(--footer-color);

  small {
    width: 100%;
  }

  small:last-child {
    text-align: end;
  }
}

.selectively-underline:hover {
  text-decoration: none;

  span {
    text-decoration: underline;
  }
}

.repo-language-color {
  filter: brightness(125%) !important;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  position: relative;
  top: 2px;
  width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.min-height-full {
  min-height: 100vh;
}

.icon-color {
  fill: #24292e !important;
}

.loads {
  animation-duration: 2s;
  animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  animation-iteration-count: infinite;
  animation-name: pulse;

  background-color: var(--loading-pulse-color);
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: .33;
  }
}

@media (min-width: 768px) {
  #masthead {
    position: fixed;
    width: min-content;
  }

  .masthead-name-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .masthead-mini {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .masthead-mini-container {
    display: flex;
    align-items: center;
  }

  .masthead-profile {
    width: 80px;
    height: 80px;
    margin-bottom: 0 !important;
  }

  .masthead-intro {
    padding-left: 24px;
  }

  .masthead-name {
    display: none;
  }

  .masthead-bio {
    margin-bottom: 0 !important;
  }

  .masthead-metadata {
    display: none;
  }
}

@media (min-width: 1942px) {
  .masthead {
    max-width: 400px;
  }

  .content-container {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --hr-color: whitesmoke;
    --footer-color: black;
    --loading-pulse-color: #383838;
  }

  a {
    color: unset !important;
    text-decoration: underline;
  }

  .selectively-underline {
    text-decoration: none;

    span {
      text-decoration: underline;
    }
  }

  .bg-white {
    background-color: #4f565d !important;
  }

  .bg-gray-light {
    background-color: #2f363d !important;
  }

  .border-gray-light {
    border-color: transparent !important;
  }

  .text-gray, .link-gray, .link-gray:hover {
    color: #d0d8e1 !important;
  }

  .link-gray-dark {
    color: #fff !important;
  }

  .link-gray-dark:hover {
    color: #599eff !important;
  }

  .border, .border-md-bottom {
    border: none !important;
  }

  .masthead {
    background-color: #24292e !important;
  }

  .text-defaults {
    color: #fff !important;

    * {
      color: #fff !important;
    }
  }

  .scoped-text-defaults {
    color: #fff !important;
  }

  .icon-color {
    fill: #fff !important;
  }
}
