---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Noto Color Emoji;
}

// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Noto Color Emoji !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,"Noto Color Emoji",serif;

  .highlight {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .caption {
    font-size: 16px;
    margin: -1.5em 0 0;

    code { font-size: 12px }
  }
  .gist-caption {
    font-size: 16px;
    margin: -0.5em 0 0;

    code { font-size: 12px }
  }

  h1, h2, h3, h4 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Noto Color Emoji";
    margin: 1.5em 0 -0.5em;
  }

  h1 { code { font-size: 28px } }
  h2 { code { font-size: 20px } }
  h3 { code { font-size: 16px } }
  h4 { code { font-size: 14px } }
  h5 { code { font-size: 12px } }
  h6 { code { font-size: 10px } }

  p {
    font-size: 21px;
    margin: 0.95em 0 1.2em;
  }

  code {
    font-family: "Fira Code", monospace;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2px 4px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  div {
    pre {
      padding: 20px;

      code {
        background-color: transparent;
      }
    }
  }

  ul, ol {
    font-size: 21px;
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    font-size: 21px;
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

.min-height-full {
  min-height: 100vh;
}
